@model StudentRegistarationPortal.Models.Course
@{
    ViewBag.Title = "EditCourse";
}

<div class="container bg-white p-3 mt-3 ">

    <span class="fw-bold ">Edit Course</span>
    @Html.ValidationSummary(true, string.Empty, new { @class = "field-validation-error" })

    @using (Html.BeginForm("UpdateCourse", "Admin", new { id = ViewBag.CourseDetails.CourseId }, FormMethod.Post, new { @class = "row g-3 mt-2  " }))
    {
        <div class="col-md-6">
            @Html.LabelFor(course => course.Name, new { @class = "form-label" })
            @Html.TextBoxFor(course => course.Name, new { @Value = ViewBag.CourseDetails.Name, @class = "form-control shadow-none" })
            @Html.ValidationMessageFor(course => course.Name)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(course => course.NoOfDays, new { @class = "form-label" })
            @Html.DropDownListFor(course => course.NoOfDays, new SelectList(new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 }, ViewBag.CourseDetails.NoOfDays), new { @class = "form-control shadow-none" })
            @Html.ValidationMessageFor(course => course.NoOfDays)

        </div>
        <div class="col-12">
            @Html.LabelFor(course => course.Description, new { @class = "form-label" })
            @Html.TextBoxFor(course => course.Description, new { @Value = ViewBag.CourseDetails.Description, @class = "form-control shadow-none" })
            @Html.ValidationMessageFor(course => course.Description)

        </div>

        <div class="d-flex align-items-center col-12 row mt-2 ">
            <div class="mb-3 col-5">
                @Html.LabelFor(course => course.Date, new { @class = "form-label" })
                @Html.TextBoxFor(course => course.Date, new { @class = "form-control w-100 shadow-none", type = "date", @Value = ViewBag.CourseDetails.Date.ToString("yyyy-MM-d") })
                @Html.ValidationMessageFor(course => course.Date)

            </div>
            <div class="mb-3 col-5">
                @Html.LabelFor(course => course.Time, new { @class = "form-label" })
                @Html.TextBoxFor(course => course.Time, new { @class = "form-control w-100 shadow-none", type = "time", @Value = ViewBag.CourseDetails.Time.ToString("hh:mm:ss") })
                @Html.ValidationMessageFor(course => course.Time)
            </div>

        </div>

        <div class="col-12 text-end ">
            @Html.ActionLink("Cancel", "Courses", "Admin", new { }, new { @class = "btn" })
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>

